<ion-header>
  <ion-toolbar>
    <ion-buttons *ngIf="url && url !== 'auth/login'" slot="start">
      <ion-back-button defaultHref="/auth/login"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-auth-form
    *ngIf="url"
    (formSubmitted)="handleUserCredentials($event)"
    [actionButtonText]="actionButtonText"
    [isPasswordResetPage]="url === 'auth/reset'"
  ></app-auth-form>

  <ion-button
    expand="block"
    fill="clear"
    routerLink="/auth/signup"
    *ngIf="url && url !== 'auth/signup'"
  >
    Create a new account
  </ion-button>

  <ion-button
    expand="block"
    fill="clear"
    routerLink="/auth/reset"
    *ngIf="url && url !== 'auth/reset'"
  >
    I forgot my password :(
  </ion-button>
</ion-content>
